@media only screen and (max-width: 768px) {
  .body {
    overflow: hidden;
  }
  .login-container {
    justify-content: center;
    padding: 5vw !important;
    padding-top: 20vh !important;
  }
  .right-panel {
    width: 200vw;
    padding: 10vw;
  }
  .image1 {
    height: 100% !important;
    object-fit: cover;
    object-position: initial;
    margin-left: 10vw;
  }
  .image2{
    margin-left: -27vw;
  }
  .h1 {
    color:red
  }
.image3{
  display: absolute !important;
}
}

body {
  background-color: #6f88d0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.body {
  display: inline-block;
  overflow: hidden;
}
.image1 {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  width: 100%;
  max-width: 100vw;
  height: auto;
}
.image2 {
  position: fixed;
  max-width: 100%;
  bottom: 0;
  left: 14;
  height: auto;
}
.logo .h1 {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin-left: 5vh;
  position: fixed;
}
.circle {
  display: flex;
  width: 38vw;
  height: 38vw;
  background-color: rgba(236, 233, 238, 1);
  margin-left: 150vh;
}
.circle {
  position: fixed;
  top: 85vh;
  right: -8vw;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #ece9ee;
  display: flex;
  align-items: center;
  color: #4d45b5;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vh;
  z-index: 4;
}
.circle a {
  color: rgba(77, 69, 181, 1);
  margin-bottom: 20vh;
  text-decoration: none;
}
.text {
  font-size: 200%;
  position: absolute;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10vw;
  padding: 15vh;
  z-index: 5;
}
.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: -15px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.27);
  width: 60vw;
  max-height: min-content;
  color: #444444;
  opacity: 90%;
}

.left-panel h1 {
  margin-top: -10px;
  font-size: 2rem;

  text-align: left;
  font-size: 4vh;
}
.left-panel h2 {
  margin-top: -15px;
  font-size: 1rem;
}
.left-panel p {
  margin-top: px;
  line-height: 1.6;
}
.left-panel ul {
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 20px;
}
.links-row {
  display: flex;
  gap: 15px;
}
.links-row a {
  text-decoration: under;
  color: #444444;
  padding: 10px 15px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: -15px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.27);
  height: 50vh;
}

.right-panel h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(77, 69, 181, 1);
}
.right-panel form {
  display: flex;
  flex-direction: column;
}
.right-panel label {
  margin-bottom: 5px;
}
.right-panel input[type="email"],
.right-panel input[type="password"] {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.remember-me label {
  margin-left: 5px;
}
.right-panel button {
  padding: 10px;
  font-size: 1rem;
  color: white;
  background: rgba(77, 69, 181, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.right-panel button:hover {
  background: #3c2875;
}
.right-panel a {
  text-align: center;
  text-decoration: none;
}
.recovery {
  display: flex;
  justify-content: space-between;
  float: left;
}
.image3{
  display:none;
}
/*.top-right {
  display: none;
}*/

@media only screen and (max-width: 768px) {
  .left-panel,
  .circle {
    display: none !important;
  }
  .image1{
    display: none !important;
  }

}
